body {
    color: white;
    background: black;
    margin: 5px;
    font-family: "Lora", sans-serif;
margin-bottom: 100px;

}

header {
    border-bottom: solid 2px rgb(226, 125, 184);
    padding: 20px;

    font-size: 32px;
    color: rgb(226, 125, 184);

}


.chamada {

    background: rgb(122, 72, 93);
    padding-bottom: 80px;
    padding-top: 80px;
display: flex;

justify-content: center;


}


.chamada-texto{margin-right: 10%;
margin-left: 25px;


}

h1{
    font-size: 35px;
}

h2{
margin-left: 35px;


}



.video1{margin-right: 25px;}

img{height: 250px;}

.categoria-videos{display: flex;
overflow-x: auto;
gap: 20px;


}

.categoria{
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}



.categoria-videos img{

opacity: 0.5;
height: 200px;
}

.categoria-videos img:hover{
opacity: 1.0;
border: 3px solid purple;
}

.categoria h2{
    color: rgb(226, 125, 184);

}





